@font-face{
    font-family: Raleway;
    font-style: normal;  //normal|italic|oblique
    font-weight: 400;  // (normal)regular = 400 , bold = 700
    src:url(../webfonts/Raleway-Regular.ttf)
}
@font-face{
    font-family: Raleway;
    font-style: normal;  
    font-weight: 700;  
    src:url(../webfonts/Raleway-Bold.ttf)
}
@font-face{
    font-family: Sofia;
    font-style: normal;  
    font-weight: 400;  
    src:url(../webfonts/Sofia-Regular.ttf)
}