@mixin clearFix{
    &::after{
        content:'';
        clear:both;
        display:table;
    }
}
.container{
    width:100%;
    border-top: $container-border-top;
}

.row{
   @include clearFix;
}
.header{
    font-family: Raleway;
    font-weight: bold;
    font-size:16px;
    margin-bottom: 15px;
    @media (min-width:$md-breakpoint){
        font-family: Sofia;
        font-size:40px;
        font-weight: normal;
        margin-bottom:20px;
    }
    @media (min-width:$lg-breakpoint){
        font-size:55px;
        margin-bottom:35px;
    }
}
.content{
    font-family: Raleway;
    font-size:14px;
    @media (min-width:$lg-breakpoint){
        font-size:18px;
    }
    @media (min-width:$md-breakpoint){
        font-size:24px;
    }
}